[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
solana_core_contracts = "GjU1P2X665JX3kygXqYYttTncfUwwh1akDK2apV13GUf"

[programs.localnet]
solana_core_contracts = "GjU1P2X665JX3kygXqYYttTncfUwwh1akDK2apV13GUf"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 --exit tests/**/*.ts"
