[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
solana_core_contracts = "rqHSrDmbKyH17Dm9cRtnC4hCGPG2DXbSXfVG4pteitA"

[programs.localnet]
solana_core_contracts = "rqHSrDmbKyH17Dm9cRtnC4hCGPG2DXbiqkN4KuXa1Ed"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "NODE_OPTIONS='--import tsx' yarn run mocha --no-warnings --timeout 1000000 --exit 'tests/**/*.ts'"
